

h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.menu-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    color: white;
}
.menu-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 20px;
}
.item-card{
    background-color: black;
    color: white;
}